@tailwind base;
@tailwind components;
@tailwind utilities;
tr,
th,
td {
  @apply px-5 border py-3;
}
.dashboardContainer {
  @apply grid grid-cols-5  grid-rows-12 h-screen text-white  gap-2 bg-primary;
}
.dashboardCards {
  @apply h-full w-full col-span-4 row-span-11 grid grid-cols-4  gap-3 p-3;
  grid-template-rows: 40px auto;
}
.dashboardCards_add {
  @apply col-span-4  mr-5 cursor-pointer bg-third h-10 w-32 ml-auto rounded-xl flex items-center justify-center gap-5  ;
}
.headerNav {
  @apply mx-auto w-full h-12 col-span-5 bg-secondary  grid grid-cols-5 gap-4;
}
.headerNav_user {
  @apply col-span-1 flex flex-row items-center justify-between gap-3 px-3;
}
.headerNav_user *:nth-child(2) {
  flex: auto;
}
.headerNav_user *:nth-child(3) {
  font-size: 10px
}
.headerNav_search {
  @apply col-span-3;
}
.headerNav_notification {
  @apply col-span-1 overflow-hidden;
}

.CRContainer {
  @apply h-full w-full row-span-3 flex items-end justify-center ml-1;
}
.SideNav{
  @apply  h-full w-full  row-span-8 p-3 
}
.SideNav ul {
  @apply w-full p-5 flex gap-3 flex-col bg-secondary rounded-md
}

.theader{
  @apply sticky top-0 bg-primary ;
}

::-webkit-scrollbar {
  width: 5px;
  background: gray; /* Optional: Use a background color for the track */
}

/* Style the track */
::-webkit-scrollbar-track {
  background: rgb(33 35 59 / var(--tw-bg-opacity)); /* Optional: Use a background color for the track */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: blue; /* Color of the thumb */
  border-radius: 4px; /* Rounded corners */
}

.modal{
  @apply fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-75
}
.modal_1{
  @apply bg-white p-8 rounded shadow-lg
}
.modal_btn{
  @apply mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
}