@tailwind base;
@tailwind components;
@tailwind utilities;

tr,
th,
td {
  @apply px-5 border py-3;
}
.dashboardContainer {
  @apply grid grid-cols-5  grid-rows-12 h-screen text-white  gap-2 bg-primary;
}
.dashboardCards {
  @apply h-full w-full col-span-4 row-span-11 grid grid-cols-4  gap-3 p-3;
  grid-template-rows: 40px auto;
}
.dashboardCards_add {
  @apply col-span-4  mr-5 cursor-pointer bg-third h-10 w-32 ml-auto rounded-xl flex items-center justify-center gap-5  ;
}
.headerNav {
  @apply mx-auto w-full h-12 col-span-5 bg-secondary  grid grid-cols-5 gap-4;
}
.headerNav_user {
  @apply col-span-1 flex flex-row items-center justify-between gap-3 px-3;
}
.headerNav_user *:nth-child(2) {
  flex: auto;
}
.headerNav_user *:nth-child(3) {
  font-size: 10px
}
.headerNav_search {
  @apply col-span-3;
}
.headerNav_notification {
  @apply col-span-1 overflow-hidden;
}

.CRContainer {
  @apply h-full w-full col-start-1 row-start-10 row-span-3 flex items-end justify-center ml-1;
}
.SideNav{
  @apply  h-full w-full  row-span-8 p-3 
}
@media  only screen and  (max-width: 768px) {
  .SideNav {
    @apply  sm:fixed sm:top-10 sm:w-10 sm:h-10 sm:z-10 sm:overflow-hidden sm:hover:h-auto sm:hover:w-dvw
  }
}
.SideNav ul {
  @apply w-full p-5 flex gap-3 flex-col bg-secondary rounded-md
}
.SideNav *{
  @apply duration-200
}
.theader{
  @apply sticky top-0 left-0 bg-primary ;
}
tr{
  @apply border border-x
}

::-webkit-scrollbar {
  width: 5px;
  background: gray; /* Optional: Use a background color for the track */
}

/* Style the track */
::-webkit-scrollbar-track {
  background: rgb(33 35 59 / var(--tw-bg-opacity)); /* Optional: Use a background color for the track */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: blue; /* Color of the thumb */
  border-radius: 4px; /* Rounded corners */
}

.hideScroll::-webkit-scrollbar-thumb {
  background: gray; /* Color of the thumb */
  border-radius: 20px; /* Rounded corners */
}
.hideScroll::-webkit-scrollbar-track {
  background: transparent; /* Optional: Use a background color for the track */
}
.hideScroll::-webkit-scrollbar {
  width: 3px;
  background: transparent; /* Optional: Use a background color for the track */
}

.modal{
  @apply fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-75;
 
}

.modal_1{
  @apply bg-white p-8 rounded shadow-lg;
  max-height : 90%;
  overflow-y : scroll;
}
.modal_btn{
  @apply mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
}

.Sidenav_selected {
  @apply cursor-pointer text-center rounded-md py-1.5 pl-4 text-firstBlue border border-firstBlue flex flex-row items-center gap-5
}
.Sidenav_unselected {
  @apply  cursor-pointer text-center rounded-md py-1.5 pl-4 flex flex-row items-center gap-5 border-transparent
}







/* Loader  */
#load {position:absolute;width:600px;height:36px;left:50%;top:40%;margin-left:-300px;overflow:visible;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;}
#load div {position:absolute;width:20px;height:36px;opacity:0;font-family:Helvetica, Arial, sans-serif;animation:move 2s linear infinite;-o-animation:move 2s linear infinite;-moz-animation:move 2s linear infinite;-webkit-animation:move 2s linear infinite;transform:rotate(180deg);-o-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);color:#35C4F0;}
#load div:nth-child(2) {animation-delay:0.2s;-o-animation-delay:0.2s;-moz-animation-delay:0.2s;-webkit-animation-delay:0.2s;}
#load div:nth-child(3) {animation-delay:0.4s;-o-animation-delay:0.4s;-webkit-animation-delay:0.4s;-webkit-animation-delay:0.4s;}
#load div:nth-child(4) {animation-delay:0.6s;-o-animation-delay:0.6s;-moz-animation-delay:0.6s;-webkit-animation-delay:0.6s;}
#load div:nth-child(5) {animation-delay:0.8s;-o-animation-delay:0.8s;-moz-animation-delay:0.8s;-webkit-animation-delay:0.8s;}
#load div:nth-child(6) {animation-delay:1s;-o-animation-delay:1s;-moz-animation-delay:1s;-webkit-animation-delay:1s;}
#load div:nth-child(7) {animation-delay:1.2s;-o-animation-delay:1.2s;-moz-animation-delay:1.2s;-webkit-animation-delay:1.2s;}

@keyframes move {0% {left:0;opacity:0;}35% {left: 41%; -moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);opacity:1;}65% {left:59%; -moz-transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg);transform:rotate(0deg); opacity:1;}100% {left:100%; -moz-transform:rotate(-180deg); -webkit-transform:rotate(-180deg); -o-transform:rotate(-180deg); transform:rotate(-180deg);opacity:0;}}
@-moz-keyframes move {0% {left:0; opacity:0;}35% {left:41%; -moz-transform:rotate(0deg); transform:rotate(0deg);opacity:1;}65% {left:59%; -moz-transform:rotate(0deg); transform:rotate(0deg);opacity:1;}100% {left:100%; -moz-transform:rotate(-180deg); transform:rotate(-180deg);opacity:0;}}
@-webkit-keyframes move {0% {left:0; opacity:0;}35% {left:41%; -webkit-transform:rotate(0deg); transform:rotate(0deg); opacity:1;}65% {left:59%; -webkit-transform:rotate(0deg); transform:rotate(0deg); opacity:1;}100% {left:100%;-webkit-transform:rotate(-180deg); transform:rotate(-180deg); opacity:0;}}
@-o-keyframes move {0% {left:0; opacity:0;}35% {left:41%; -o-transform:rotate(0deg); transform:rotate(0deg); opacity:1;}65% {left:59%; -o-transform:rotate(0deg); transform:rotate(0deg); opacity:1;}100% {left:100%; -o-transform:rotate(-180deg); transform:rotate(-180deg); opacity:0;}}

/* Loader END */

.quizHovering:hover {
  z-index: 10;
}

.quizHovering:not(:hover) {
  transition-delay: 0.2s; /* Delay transition after losing focus */
  z-index: 0; /* Reset z-index after losing focus */
}



.modifyBTN{
  @apply p-2 text-firstBlue border border-firstBlue rounded-full font-bold duration-200

}
.modifyBTN:hover{
  @apply text-white bg-firstBlue
}
.removeBTN{
  @apply p-2 text-red-500 border border-red-500 rounded-full font-bold duration-200
}
.removeBTN:hover{
  @apply text-white bg-red-500
}



/* Login  */

.LoginContainer {
 @apply bg-primary flex justify-center items-center  h-screen
}
.loginform {
  @apply  backdrop-filter  bg-third bg-opacity-30 shadow-md rounded-lg px-10 py-8 mb-4 flex flex-col w-96
}

.loginHeader{
  @apply text-center text-2xl font-bold text-firstBlue mb-6
}

.loginLabel{
  @apply block text-gray-400 text-sm font-bold mb-2
}
.loginInput{
  @apply bg-opacity-20 backdrop-filter  shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
}
.loginError{
  @apply hidden text-red-800
}
.loginButton{
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none 
}

.loginFooter{
 @apply mt-4 text-center text-gray-500  cursor-default
}
.loginLink{
  @apply text-third font-bold hover:underline cursor-pointer
}




/* LoadingSpinner.css */

.loading-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
} 

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

label {
  color: black;
}


.pdfViewer{
height: 500px;
width: 500px;
}

.lessonSubmitBtn{
  @apply row-start-1 col-start-5 rounded-xl  cursor-pointer bg-third h-10 w-32  m-1 ml-auto

  
}